.notes {
  width: 50%;
  border-right: 1px solid grey;
  display: flex;
  flex-wrap: wrap;

  &__create-note {
    border: none;
    background: coral;
    color: white;
    border-radius: 50%;
    margin-left: 10px;
    padding: 3px 10px;
    font-size: inherit;
    vertical-align: middle;
    cursor: pointer;
  }

  &__top-wrapper {
    height: 110px;
    width: 100%;
  }

  &__search {
    width: 90%;
    display: block;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
  }

  &__list {
    padding: 0;
    place-content: center;
    width: 102%;
    overflow-y: scroll;
    height: calc(100% - 110px);
    overflow-x: hidden;
    margin-top: 5px;

    &-item {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: 0 auto;

      &:last-child {
        margin-bottom: 5px;
      }

      &-delete {
        background: none;
        border: none;
        cursor: pointer;
        padding-right: 0;
        position: relative;
        z-index: 10;

        img {
          width: 26px;
          height: 25px;
          vertical-align: middle;
          position: relative;
        }
      }
    }
  }

  &__title {
    text-align: center;
    color: #ff4411;
    font-family: 'Signika', sans-serif;
  }
}

.note-item-wrapper {
  display: flex;
  width: 90%;
      margin: 0 auto;

  &:last-child {
    padding-bottom: 10px;
  }
}